//------ var ------\\

$primary: #6200ff;
$white: #fff;
$lighterGray: #f5f5f5;
$lightGray: #f2f2f2;
$gray: #505050;
$black: #202020;
$gray-opacity: #505050b0;

$height-header: 75px;

$border-radius: 13px;

$font-size-nav: 1.4rem;
$font-size-p: 1.1rem;
$font-size-h1: 3rem;
$font-size-h1-resp: 2.5rem;

$left-section: 100vw;
$right-section: 0vw;
